.field {
  font-size: 2rem;
}
.hidden {
  display: none;
}
.container {
  margin-top: 20px;
}
.btnContainer {
  display: flex;
  flex-direction: column;
  width: 120px;
}
.autoClickContainer > * {
  display: inline-block;
}
